@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@300&family=Fraunces:ital,opsz,wght@0,9..144,200;1,9..144,100&family=Montserrat:ital@0;1&display=swap");
html {
  font-family: "Epilogue", sans-serif;
  font-family: "Fraunces", serif;
  font-family: "Montserrat", sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(212, 45%, 89%);
}
.main {
  display: flex;
  flex-direction: column;
  background-color: #ffff;
  height: 300px;
  text-align: center;
  width: 180px;
  border-radius: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
.main h1 {
  font-size: 14px;

  color: hsl(218, 44%, 22%);
}
.main p {
  font-size: 10px;
  color: hsl(220, 15%, 55%);
}
.main img {
  border-radius: 10px;
}
.text-box {
}
